body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #212831;
}
/* we will style our container that is label  */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 53px;
  height: 32px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* with this it'size will cover entire container */
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
}

/* if you look carefully you can see the default input 
we need to hide it */

.switch input {
  display: none;
}

/* let style our circle */
.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  border-radius: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.3s;
}

/* we will change the background color
when the input checked */
input:checked + .slider {
  background-color: #00adb5;
}
/* and the selector will go right when the input checked */
input:checked + .slider:before {
  transform: translateX(20px);
}
